fastapi
uvicorn[standard]
langchain-core>=0.1.27,<0.2.0
langchain==0.1.12
langchain-openai==0.0.8
langchain-community==0.0.24
sentence-transformers==2.5.1
psycopg2-binary==2.9.9
pgvector==0.2.5
python-dotenv==1.0.1
google-search-results
numpy
PyPDF2
tiktoken
torch
transformers
pydub
SQLAlchemy
alembic
python-multipart