fastapi
uvicorn[standard]
langchain
langchain-community
langchain_openai
openai
python-dotenv
google-search-results
psycopg2-binary
numpy
PyPDF2
tiktoken
pgvector
torch
transformers
pydub
SQLAlchemy
alembic